/**
------------------ RESET ---------------------
*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------------------*/

body,
html {
  margin-top: 60px;

}

li, p {
  font-size: 24px;
  line-height: 28px;
  font-family: 'Libre Baskerville', serif;
}

a:link {
  text-decoration: none!important;

}

a:visited {
  color: black;
  text-decoration: none!important;

}

a:hover {
  color: grey;
}

a:focus {
  text-decoration: none!important;
  color: black;
}

a:active {
  text-decoration: none!important;
  color: black;
}

.subList{
    position: absolute;
}

.lastMenuItem {
  text-align: right;
}

.test1 {
  color: red;
}

#projectsHome {
  display:none;
}
.menucontainer {
  /* position:absolute;
  top: 0;
  left: 0; */
}
#nav {

  display: flex;
  justify-content: space-between;
  margin-left: 6px;
  margin-right: 6px;
}

#nav ul {
  display:none;
}

.imgcontainer {
  width: 100%;
  overflow: hidden;
}

.containertext {
  margin-left: 6px;
  margin-right: 6px;
  padding: 10px 20px;
  background: grey;
  width: 40%;
}

.containertextFootnote {
  margin-left: 6px;
  margin-right: 6px;
  padding: 10px 20px;
  background: green;
  width: 20%;
}

header .container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  padding-left: 0;
  padding-top: 25px;
  padding-bottom: 5px;
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .6s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headroom--pinned {
  top: 0;
}

.footnote {
  font-size: 14px;
}
.headroom--unpinned {
  top: -10%;
}

section {
  display: flex;
  flex-direction: row;
}
