/**
------------------ RESET ---------------------
*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------------------*/

body,
html {
  margin-top: 60px;

}

li, p {
  font-size: 1.3vw;
  line-height: 1.75vw;
  font-family: 'Libre Baskerville', serif;
}

a:link {
  text-decoration: none!important;

}

a:visited {
  color: black;
  text-decoration: none!important;

}

a:hover {
  color: grey;
}

a:focus {
  text-decoration: none!important;
  color: black;
}

a:active {
  text-decoration: none!important;
  color: black;
}

.subList{
    position: absolute;
}

.lastMenuItem {
  text-align: right;
}

.containerCol {
  padding: 0 20px;
}

#projectsHome {
  display:none;
}
.menucontainer {
  /* position:absolute;
  top: 0;
  left: 0; */
}

.projectcontainer1, .projectcontainer2 {
  margin-bottom: 100px;
}
#nav {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.show {
  display: block;
}

.hide {
  display: none;
}

#nav ul {
  display:none;
}

.testdiv {
  position:absolute;
  top:0;
  left:0;
  background-color: red;
  height:30px;
  width: 60%;
}

.imgcontainer {
  width: 100%;
  overflow: hidden;
}

.col-left {
  /* padding: 10px 20px; */
  display: flex;
  flex-direction: row;
}

.col-right {
  display: flex;
  justify-content: flex-end;
}

.quote {
  text-indent: 50px;
}

.breakline {
  overflow-wrap: break-word;
}

.containertext {
  width: 45%;
}

.containertextFootnote {
  /* padding: 10px 20px; */
  width: 10%;
}

.title {
  color: grey;
}

.projecttype {
  color: red;
}

header .container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  padding-left: 0;
  padding-top: 25px;
  padding-bottom: 5px;
}



.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .6s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headroom--pinned {
  top: 0;
}

.footnote {
  font-size: 12px;
  line-height: normal;
  padding: 0 20px;
}
.headroom--unpinned {
  top: -10%;
}

section {

}
